doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/quizAppStart.css')
  body
   .img 
      img(src="assets/image.png", alt="")
    .end-screen 
        .score 
            .score-text Your score: 
            .number-score 
                span.result Result
        form(action='/',method='POST')
            button.btn Restart Quiz
  script.
    const result = document.querySelector(".result");
    result.textContent ="Score"