doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/quizAppStart.css')
  body
   .img 
      img(src="assets/image.png", alt="")
    .end-screen 
        .score 
            .text Quiz complete
            .number-score 
                span.result= Score
        form(action='/',method='POST')
            button.btn Restart Quiz