doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/quizAppStart.css')
  body
      .circle1
      .circle2
      .circle3
      .circle4
      .container
        .img 
          img(src="assets/image.png", alt="")
        .start-screen
          form(action='/', method='post')
            button.btn.start(type="button") Start Quiz

    script.
      const startBtn = document.querySelector(".start");

      startBtn.addEventListener('click', (event) => {
        event.preventDefault();
        startQuiz();
      });

      const loadingAnimation = () => {
        startBtn.innerHTML = "Loading";
        const loadingInterval = setInterval(() => {
          if (startBtn.innerHTML.length === 10) {
            startBtn.innerHTML = "Loading";
          } else {
            startBtn.innerHTML += ".";
          }
        }, 500);
      };

      const startQuiz = () => {
        loadingAnimation();
        setTimeout(() => {
          window.location.href = '/quiz/0'; 
        }, 2000); 
      };
